# Puerto en el que corre la API
PORT=3000

# URL de conexión a la base de datos para Prisma
# NOTA: En Docker, el host de la base de datos es "db" (nombre del servicio en docker-compose.yml)
DATABASE_URL="postgresql://postgres:postgres@db:5432/sistema_vehicular?schema=public"

# Variables de configuración de la base de datos PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sistema_vehicular
POSTGRES_PORT=5433

# Configuración de Auth0
AUTH0_AUDIENCE="https://api.sistema-vehicular.com"
AUTH0_ISSUER_BASE_URL="https://tu-dominio.us.auth0.com/"
